---
import Button from "../../../components/Button.astro";
import SidebarLinkItem from "../../../components/SidebarLinkItem.astro";
import CategoryList from "../../../components/Events/CategoryList.astro";
import EventsListArchive from "../../../components/Events/EventsListArchive.astro";
import SectionPage from "../../../layouts/SectionPage.astro";
import {
  previewEvents,
  previewPastEvents,
  eventCategories,
} from "../../../lib/events";

const events = previewPastEvents;
// refactor to get from eventsPreview data -- function get unique
const categories = eventCategories;
---

<SectionPage currentPage={"b486a924-0f49-4439-9bc3-2f0fe56e0e78"}>
  <div class="with-sidebar">
    <EventsListArchive events={events} />
    <div class="sidebar flow" style="--flow-space: var(--space-xl);">
      <div class="flow">
        <h3 class="text-step-2">Event Categories</h3>
        <CategoryList categories={categories} />
      </div>
      <div class="sidebar-links">
        <SidebarLinkItem
          name="View Calendar"
          description="View our calendar for more events and services."
          href="/calendar"
        />
      </div>
    </div>
  </div>
</SectionPage>

<style>
  .with-sidebar {
    --sidebar-gap: 5rem;
    /* --sidebar-gap: 3rem;
    --sidebar-min-width: 15rem;
    --main-min-width: 60%; */
  }

  .sidebar-links {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: flex-start;
  }
</style>
