---
import Button from "../../../components/Button.astro";
import SidebarLinkItem from "../../../components/SidebarLinkItem.astro";
import CategoryList from "../../../components/Events/CategoryList.astro";
import EventsList from "../../../components/Events/EventsList.astro";
import SectionPage from "../../../layouts/SectionPage.astro";
import {
  previewEvents,
  previewFutureEvents,
  eventCategories,
} from "../../../lib/events";

const events = previewFutureEvents;
// refactor to get from eventsPreview data -- function get unique
const categories = eventCategories;
---

<SectionPage currentPage={"5f4b0b1f-524b-4486-91f5-9ef997d08fd1"}>
  <div class="with-sidebar">
    <EventsList events={events} />
    <div class="sidebar flow" style="--flow-space: var(--space-xl);">
      <div class="flow">
        <h3 class="text-step-2">Event Categories</h3>
        <CategoryList categories={categories} />
      </div>
      <div class="sidebar-links">
        <SidebarLinkItem
          name="View Calendar"
          description="View our calendar for more events and services."
          href="/calendar"
        />
        <Button href="/connect/events/archive">
          <span>Events Archive</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="1em"
            width="1em"
            viewBox="0 0 512 512"
            ><defs
              ><style>
                .fa-secondary {
                  opacity: 0.4;
                }
              </style></defs
            ><path
              class="fa-primary"
              d="M0 64C0 46.3 14.3 32 32 32H480c17.7 0 32 14.3 32 32V96c0 17.7-14.3 32-32 32H32C14.3 128 0 113.7 0 96V64z"
            ></path><path
              class="fa-secondary"
              d="M480 128H32V416c0 35.3 28.7 64 64 64H416c35.3 0 64-28.7 64-64V128zM192 192H320c17.7 0 32 14.3 32 32s-14.3 32-32 32H192c-17.7 0-32-14.3-32-32s14.3-32 32-32z"
            ></path></svg
          >
        </Button>
      </div>
    </div>
  </div>
</SectionPage>

<style>
  .with-sidebar {
    --sidebar-gap: 5rem;
  }

  .sidebar-links {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: flex-start;
  }

  .sidebar-links svg {
    fill: var(--color-primary-50);
  }
</style>
