---
import CategoryList from "../../../components/Events/CategoryList.astro";
import EventsList from "../../../components/Events/EventsList.astro";
import SectionPage from "../../../layouts/SectionPage.astro";
import { previewEvents, eventCategories } from "../../../lib/events";

const events = previewEvents;
// refactor to get from eventsPreview data -- function get unique
const categories = eventCategories;
---

<SectionPage
  currentPage={"5f4b0b1f-524b-4486-91f5-9ef997d08fd1"}
  localNavSection={"Connect"}
>
  <div class="with-sidebar">
    <EventsList events={events} />
    <div class="flow">
      <h3 class="text-step-2">Event Categories</h3>
      <CategoryList categories={categories} />
    </div>
  </div>
</SectionPage>

<style>
  .with-sidebar {
    --sidebar-gap: 3rem;
    --sidebar-min-width: 15rem;
    --main-min-width: 60%;
  }
</style>
