---
import Layout from "../../layouts/Layout.astro";
import { getCurrentPage } from "../../lib/pages";
import GiveTemplate from "../../pageTemplates/GiveTemplate.astro";

const page = getCurrentPage("a3ff79bf-b5c6-4404-a820-087c8e504007");
const { seo, template, pageName, pageContent } = page;
---

<Layout meta={seo}>
  <!-- <Fragment slot="pageHead">
    <link rel="preload" href={bgImage} as="image" />
    <slot name="pageHead" />
  </Fragment> -->
  <main slot="main">
    <GiveTemplate pageName={pageName} content={pageContent} />
  </main>
</Layout>
