---
import Layout from "../../../layouts/Layout.astro";
import { getCurrentPage } from "../../../lib/pages";

const currentPage = getCurrentPage("b8529063-8a0d-4580-badd-34fcd8e58777");
---

<Layout title={currentPage.seo.title}>
  <main slot="main">
    {currentPage.pageName}
  </main>
</Layout>
