---
import Button from "../../../components/Button.astro";
import MinistrySlider from "../../../components/MinistrySlider.astro";
import { ministryCategories } from "../../../lib/ministries";

import SectionPage from "../../../layouts/SectionPage.astro";

const ministryTypesToSort = ministryCategories;
const ministryTypes = ministryTypesToSort.sort((a, b) => {
  if (a.name < b.name) {
    return -1;
  }
  if (a.name > b.name) {
    return 1;
  }
  return 0;
});
---

<SectionPage
  currentPage={"c970d4a9-70e6-4a7a-b5e3-6e7568126f96"}
  localNavSection={"Connect"}
  contentPadding
>
  <MinistrySlider slides={ministryTypes} items="ministries" />
  <div class="center-items">
    <Button href="#thumbnail-slider">Back to Top</Button>
  </div>
</SectionPage>

<style>
  .with-sidebar {
    --sidebar-gap: 3rem;
    --sidebar-min-width: 15rem;
    --main-min-width: 60%;
  }

  .ministry-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding-block-start: var(--space-3xl);
  }

  .ministry-list p {
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
  }

  .location-footer.cluster {
    gap: 4px;
  }

  .location-footer .location-icon {
    display: flex;
  }

  .small-title.ministry-category {
    display: inline-block;
    color: var(--color-primary-800);
    line-height: 1;
    padding: 4px 6px;
    margin-bottom: 9px;
    background-color: var(--color-primary-100);
    border-radius: var(--rounded-corners-small);
  }

  .center-items {
    margin-top: var(--space-s);
  }
</style>
