---
const { categories } = Astro.props;
---

<ul class="cluster">
  <li>
    <a class="small-title category" href={`/connect/events`}>All Upcoming</a>
  </li>
  {
    categories.map((category) => (
      <li>
        <a
          class="small-title category"
          href={`/connect/events/${category.slug}`}
        >
          {category.name}
        </a>
      </li>
    ))
  }
</ul>

<style>
  .cluster {
    --cluster-space: 1rem;
  }

  .small-title.category {
    font-size: 14px;
    display: inline-block;
    text-decoration: none;
    color: var(--color-primary-800);
    width: fit-content;
    line-height: 1;
    padding: 6px 9px;
    background-color: var(--color-primary-100);
    border-radius: var(--rounded-corners-small);
    transition: all 0.2s ease;
  }

  .small-title.category:hover {
    background-color: var(--color-primary-200);
  }
</style>

<script>
  const categoryList = document.querySelectorAll(".category");
  const currentURL = window.location.pathname;
  categoryList.forEach((link) => {
    if (link.pathname + "/" === currentURL || link.pathname === currentURL) {
      link.style.background = "var(--color-primary-800)";
      link.style.color = "var(--color-primary-50)";
    }
  });
</script>
