---
import Button from "../../components/Button.astro";
import SectionPage from "../../layouts/SectionPage.astro";
import IntroSection from "../../components/IntroSection.astro";
import FullWidthFeature from "../../components/FullWidthFeature.astro";
import { PortableText } from "astro-portabletext";

import pastoralResidency from "../../assets/images/easter-procession-2.jpg";
import ctaImage from "../../assets/images/easter-service.jpg";
---

<SectionPage
  currentPage={"2684decf-3219-4415-8083-9e7386126bff"}
  localNavSection={"Connect"}
  contentPadding
>
  <!-- <IntroSection
    title="We are pleased to announce a new in-person residency in San Marino, CA."
    image={pastoralResidency}
    frame="1:1"
  >
    <p>
      Made possible by generous donations to our church’s Foundation, we are now
      accepting applications for a two-year program that will begin August 2023.
    </p>
    <p>
      This residency program uniquely focuses on engaging entrepreneurial skills
      in pastoral ministry, equipping residents to engage adaptive leadership
      skills, and exercising them in an innovative, west coast context.
    </p>
  </IntroSection> -->
  <!-- <aside slot="pre-footer">
    <FullWidthFeature imageSrc={ctaImage}>
      <div class="text-step-5 font-header leading-tight">
        Apply for the pastoral residency program.
      </div>
      <Button width="fit" href="/worship/live">Apply Now</Button>
    </FullWidthFeature>
  </aside> -->
</SectionPage>
<style>
  .content-wrapper.flow {
    --flow-space: var(--space-3xl);
  }

  .mission-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    padding-block-start: var(--space-2xl);
  }

  .mission.flow {
    --flow-space: 1.5rem;
  }
</style>
