/* Images */
.with-lqip {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.image-scale-in {
    transition: transform 0.2s ease-in-out;

    &:hover {
        transform: scale(1.05);
    }
}

.image-rounded {
    border-radius: var(--rounded-corners);
}
