---
import SectionPage from "../../layouts/SectionPage.astro";
import Form from "../../components/Form.astro";
import Button from "../../components/Button.astro";
import { allForms } from "../../lib/settings";

const form = allForms.find(
  (item) => item.id === "2a5d4c4f-9dfd-4555-becb-1b82213f4320"
);
---

<SectionPage
  currentPage={"c27d6639-bd40-454d-b210-63ca75b0dbbd"}
  localNavSection="Utility"
>
  <div class="center-items">
    <Button href="/contact#forms">See All Forms</Button>
  </div>
  <Form formData={form} />
</SectionPage>

<style>
  .center-items {
    margin-bottom: 3rem;
  }
</style>
