---
import UtilityLayout from "../../layouts/UtilityLayout.astro";
import Form from "../../components/Form.astro";
import Button from "../../components/Button.astro";
import { allForms } from "../../lib/settings";

const form = allForms.find(
  (item) => item.id === "7cc5ce68-2db2-4bda-a574-2d6680ae7f68"
);
---

<UtilityLayout
  currentPage={"c27d6639-bd40-454d-b210-63ca75b0dbbd"}
  extraData={{
    title: form.title,
    description: form.description,
    image: form.image,
  }}
>
  <Form formData={form} />
  <div class="center-items">
    <Button href="/contact#forms">See All Forms</Button>
  </div>
</UtilityLayout>
