---
import SectionPage from "../../layouts/SectionPage.astro";
import Form from "../../components/Form.astro";
import Button from "../../components/Button.astro";

const form = {
  id: "form1",
  formName: "contactForm1",
  title: "I’m New",
  description:
    "We don’t know what encouraged you to look for a church, let alone what brought you to this website for SMCC, but we don’t believe that you’re here by accident. We would love to meet you!",
  formType: "general",
  messageText: "Let us know if you have questions or comments:",
};
---

<SectionPage
  currentPage={"c27d6639-bd40-454d-b210-63ca75b0dbbd"}
  localNavSection="Utility"
>
  <div class="center-items">
    <Button href="/contact">See All Forms</Button>
  </div>
  <h2>Thank you!</h2>
  <p>
    Your form submission has been received. One of our staff will follow up with
    you shortly.
  </p>
</SectionPage>

<style>
  .center-items {
    margin-bottom: 3rem;
  }
</style>
