---
import Layout from "../layouts/Layout.astro";
import SecondLayout from "../layouts/SecondLayout.astro";
import Breadcrumb from "../components/Breadcrumb.astro";

import { sanityClient } from "../lib/sanity.js";

const layouts = [
  {
    worshipLive: SecondLayout,
  },
];

console.log(layouts[0].worshipLive);

export async function getStaticPaths() {
  const query = `*[_type == 'page'] {
        "parent": parent->{
            "slug": slug.current,
            name
        },
        "slug": slug.current,
            name,
        header,
        layout
    }`;

  //   const query = `*[_type == 'navigation' && name == 'Main Navigation'].section[] {
  //   _key,
  //   name,
  //   "image": image.asset->,
  //   "slug": slug.current,
  //   pages[]->{
  //     name,
  //     "slug": slug.current
  //   }
  // }`;
  const data = await sanityClient.fetch(query);
  console.log(data);

  return data.map((page) => {
    return {
      params: {
        slug: page.header
          ? undefined
          : page.parent
          ? `${page.parent.slug}/${page.slug}`
          : `${page.slug}`,
      },
      props: { page },
    };
  });
}

const { slug } = Astro.params;
const { page } = Astro.props;
---

<Layout>
  <main slot="main">
    <Breadcrumb />
    <h1>{page.name}</h1>
  </main>
</Layout>
