---
import Button from "@components/Button.astro";
import EventsHome from "@components/Events/EventsHome.astro";
import FeatureList from "@components/modules/FeatureList.astro";
import FeaturedVideoBanner from "@components/FeaturedVideoBanner.astro";
import HomeCTA from "@components/modules/HomeCTA.astro";
import HomePageHero from "@components/modules/HomePageHero.astro";
import HomeResources from "@components/modules/HomeResources.astro";
import HomeWelcome from "@components/modules/HomeWelcome.astro";
import { Image } from "astro:assets";
import ImageLink from "@components/ImageLink.astro";
import type { ImageLink as ImageLinkType } from "@content/schemaFragments/sanityComponents";
import Layout from "@layouts/Layout.astro";
import SanityImage from "@components/SanityImage.astro";
import bgImage from "@assets/images/church-ext-2.jpg";
import { getEntry } from "astro:content";
// import getYouTubeID from "get-youtube-id";
// import { joinNames } from "@utils/format";

const page = await getEntry("homePage", "homePage");
---

<Layout
    meta={{
        title: page!.data.seo.title ?? page!.data.title,
        description: page!.data.seo.description,
        ogTitle: page!.data.seo.ogTitle,
        ogDescription: page!.data.seo.ogDescription,
        ogImage: page!.data.seo.ogImage,
    }}
>
    <main slot="main">
        <HomePageHero module={page!.data.content.hero} />
        <FeaturedVideoBanner />
        <section class="content-wrapper" id="welcome-questions">
            <h2 class="center-items">
                {page!.data.content.linksSection.heading}
            </h2>
            <!-- TODO: fix link hrefs -->
            <div class="image-links responsive-grid">
                {
                    page!.data.content.linksSection.items.map((item) => (
                        <ImageLink
                            link={item as ImageLinkType}
                            orientation="vertical"
                        />
                    ))
                }
            </div>
        </section>
        <HomeWelcome module={page!.data.content.welcomeSection} />
        <section class="content-wrapper flow" id="features">
            <FeatureList module={page!.data.content.featureList} />
        </section>
        <section id="events">
            <div class="">
                <EventsHome>
                    <h2 class="text-step-4" slot="header">Upcoming Events</h2>
                </EventsHome>
            </div>
            <Image
                alt=""
                class="faded-facade"
                format="webp"
                src={bgImage}
                width={900}
            />
        </section>
        <HomeCTA module={page!.data.content.cta} />
        <section id="resources">
            <HomeResources module={page!.data.content.resourcesSection} />
            <div class="center-items">
                <Button href="/resources">See All Resources</Button>
            </div>
        </section>
    </main>

    <style>
        #welcome-questions,
        #events,
        #resources {
            margin-block: var(--section-spacer);
        }

        #welcome-questions .center-items {
            font-size: var(--step-3);
            margin-bottom: 3rem;
        }

        #events {
            margin-block-end: 0;
        }

        #events {
            position: relative;
            padding-block: var(--section-spacer-half);
            /* background: no-repeat left/contain url("/faded-facade.png"); */
        }

        .image-links.responsive-grid {
            --item-min-width: 15rem;
        }

        .faded-facade {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            z-index: -1;
            height: 100%;
            width: auto;
            opacity: 0.2;
            filter: saturate(0);
            -webkit-mask-image: linear-gradient(to right, black, transparent);
            mask-image: linear-gradient(to right, black, transparent);
        }

        #resources {
            margin-top: 4rem;
        }

        #resources .center-items {
            margin-top: 4rem;
        }

        #features.flow {
            --flow-space: var(--space-3xl);
        }

        iframe {
            border: 0;
            width: 100%;
        }

        @media (max-width: 768px) {
            #welcome-questions,
            #events,
            #resources {
                margin-block: var(--section-spacer-half);
            }

            #events {
                margin-block-end: 0;
            }
        }

        @media (max-width: 640px) {
            #resources {
                margin-top: 2rem;
            }
        }
    </style>
</Layout>
