---
import FullWidthFeature from "../../components/FullWidthFeature.astro";

import placeholderImg from "../../assets/images/worship-2.jpg";
import SectionPage from "../../layouts/SectionPage.astro";
import Button from "../../components/Button.astro";
---

<SectionPage
  currentPage={"df9a8f44-11dc-4e34-87a8-46176c01d3a2"}
  localNavSection={"Welcome"}
  contentPadding
>
  <div class="paragraphs flow">
    <p>
      Our class provides an opportunity to get acquainted, ask questions, and
      learn more about our church, our Presbyterian heritage, and our mission.
      We receive new members by profession of faith upon baptism, reaffirmation
      of faith, or letter of transfer from another church.
    </p>
    <p>
      We offer membership classes twice a year - once in the fall and once in
      the spring. If you are interested in becoming a member, please call the
      Church Office at 626/282-4181.
    </p>
  </div>
  <aside slot="pre-footer">
    <FullWidthFeature imageSrc={placeholderImg}>
      <div class="text-step-5 font-header leading-tight">
        We hope that you will come spend some time with us.
      </div>
      <Button width="fit" href="/worship/live">Join Us</Button>
    </FullWidthFeature>
  </aside>
</SectionPage>

<style>
  article {
    margin-block: var(--section-spacer);
  }

  .paragraphs.flow {
    max-width: var(--paragraph-measure);
  }
</style>
