---
import Feature from "../../components/Feature.astro";
import FeatureList from "../../components/FeatureList.astro";

import traditionalImg from "../../assets/images/worship.jpg";
import contemporaryImg from "../../assets/images/contemporary.jpg";
import SectionPage from "../../layouts/SectionPage.astro";

import { allFeatures } from "../../lib/pages";

const features = allFeatures.filter(
  (feature) =>
    feature._id === "85d14060-84d4-4a40-9702-1058643f5ec9" ||
    feature._id === "cabb7207-7b72-43a8-9ec3-27cafe575da0"
);
---

<SectionPage
  currentPage={"1fde3a48-27a1-4361-a045-8bbde2561893"}
  localNavSection={"Welcome"}
  contentPadding
>
  <div class="center-items text-step-1 paragraphs mx-auto">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque
    reprehenderit sunt quo nam, incidunt possimus ducimus alias error. Nisi,
    porro!
  </div>
  <FeatureList features={features} />
</SectionPage>
<style>
  article {
    margin-block: var(--section-spacer);
  }

  .content-wrapper.flow {
    --flow-space: var(--space-3xl);
  }
</style>
