---
import Layout from "../../layouts/Layout.astro";
import Button from "../../components/Button.astro";
import Feature from "../../components/Feature.astro";
import InnerHero from "../../components/InnerHero.astro";

import traditionalImg from "../../assets/images/worship.jpg";
import contemporaryImg from "../../assets/images/contemporary.jpg";
import bgImage from "../../assets/images/facade-front.jpg";
import SectionPage from "../../layouts/SectionPage.astro";
---

<SectionPage
  currentPage={"1fde3a48-27a1-4361-a045-8bbde2561893"}
  localNavSection={"Welcome"}
  contentPadding
>
  <div class="center-items text-step-1 paragraphs mx-auto">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque
    reprehenderit sunt quo nam, incidunt possimus ducimus alias error. Nisi,
    porro!
  </div>
  <Feature href="/worship/live" imgSrc={traditionalImg}>
    <h2 slot="header" class="text-step-2">Traditional Worship</h2>
    <Fragment slot="CTA">Join Online</Fragment>
  </Feature>
  <Feature
    href="/worship/live"
    theme="dark"
    layout="image-right"
    imgSrc={contemporaryImg}
  >
    <h2 slot="header" class="text-step-2" style="color: var(--color-white);">
      Contemporary Worship
    </h2>
    <Fragment slot="CTA">Join Online</Fragment>
  </Feature>
</SectionPage>
<style>
  article {
    margin-block: var(--section-spacer);
  }

  .content-wrapper.flow {
    --flow-space: var(--space-3xl);
  }
</style>
