---
interface Props {
    navigation?: { current?: boolean; href?: string; name: string }[];
    position?: "relative" | "absolute";
}

const { navigation, position = "relative" } = Astro.props;
---

<ul
    class:list={[
        "breadcrumb-wrapper | text-step--1 cluster small-title",
        position,
    ]}
>
    <li><a class="breadcrumb-link" href="/">Home</a></li>
    {
        navigation &&
            navigation.map((item) => (
                <Fragment>
                    <li>
                        <span class="divider">&gt;</span>
                        {!item.current ? (
                            <a class="breadcrumb-link" href={item.href}>
                                {item.name}
                            </a>
                        ) : (
                            <Fragment>{item.name}</Fragment>
                        )}
                    </li>
                </Fragment>
            ))
    }
</ul>

<style>
    .divider {
        color: var(--color-primary-300);
        margin-right: 0.55rem;
        position: relative;
        top: -1px;
    }

    .breadcrumb-wrapper {
        z-index: 10;
        padding-inline-start: var(--space-l);
        top: 1rem;
        width: fit-content;

        &.relative {
            position: relative;
        }

        &.absolute {
            position: absolute;
        }
    }

    .breadcrumb-link {
        color: var(--color-primary-700);
        text-decoration: none;
    }

    .breadcrumb-link:hover {
        text-decoration: underline;
    }

    .cluster {
        --cluster-space: 0.5rem;
    }
</style>
