---
const { section, sectionURL, page, pageURL, url } = Astro.props;
---

<ul class="text-step--1 cluster">
  <li><a href="/">Home</a></li>
  <span>&gt;</span>
  <li>{section}</li>
  <span>&gt;</span>
  <li><a href={pageURL}>{page}</a></li>
  <span>&gt;</span>
  <li>{url}</li>
</ul>

<style>
  span {
    color: var(--color-primary-300);
  }

  a {
    color: var(--color-primary-700);
  }

  .cluster {
    --cluster-space: 0.5rem;
  }
</style>
