---
const { navigation, className } = Astro.props;
---

<ul class:list={["text-step--1 cluster small-title", className]}>
  <li><a href="/" class="breadcrumb-link">Home</a></li>
  {
    navigation &&
      navigation.map((item) => (
        <Fragment>
          <li>
            <span class="divider">&gt;</span>
            {!item.current ? (
              <a href={item.href} class="breadcrumb-link">
                {item.name}
              </a>
            ) : (
              <Fragment>{item.name}</Fragment>
            )}
          </li>
        </Fragment>
      ))
  }
</ul>

<style>
  .divider {
    color: var(--color-primary-300);
    margin-right: 0.55rem;
    position: relative;
    top: -1px;
  }

  .breadcrumb-link {
    color: var(--color-primary-700);
    text-decoration: none;
  }

  .breadcrumb-link:hover {
    text-decoration: underline;
  }

  .cluster {
    --cluster-space: 0.5rem;
  }
</style>
