---
import { urlFor } from "../lib/sanity";
import { Image } from "astro:assets";

const { image, heading = "Contact", name, href, size = "large" } = Astro.props;
---

<div
  class="contact flex"
  style={`--gap-space: ${size == "small" ? "0.75rem" : "1.5rem"}`}
>
  <div>
    <Image
      src={urlFor(image).width(200).height(200).auto("format").url()}
      alt={image.asset.altText || ""}
      class="img"
      format="webp"
      style={`--frame-size: ${size == "small" ? "3rem" : "5rem"}`}
      width={200}
      height={200}
    />
  </div>
  <div>
    <div class="small-title">{heading}</div>
    {
      href ? (
        <a href={href} class="text-step--1">
          {name}
        </a>
      ) : (
        <div class="text-step--1">{name}</div>
      )
    }
  </div>
</div>

<style>
  .img {
    width: var(--frame-size);
    height: var(--frame-size);
    border-radius: 9999px;
  }

  .contact .frame.square {
    border-radius: 9999px;
    width: var(--frame-size);
    height: var(--frame-size);
  }

  .contact.flex {
    gap: var(--gap-space, 1.5rem);
    align-items: center;
  }

  .small-title {
    color: var(--color-primary-800);
    margin-bottom: 3px;
  }
</style>
