---
import { PortableText } from "astro-portabletext";
import { Image, Picture } from "@astrojs/image/components";
const { title, image } = Astro.props;
---

<section class="with-sidebar intro">
  <div>
    <h2 class="text-step-4 heading">{title}</h2>
    <div class="paragraphs flow">
      <slot />
    </div>
  </div>
  <div class="frame">
    <Picture src={image} widths={[600, 900]} sizes="100vw" alt="" />
  </div>
</section>

<style>
  .intro.with-sidebar {
    --sidebar-gap: 6rem;
    --sidebar-min-width: 30rem;
    align-items: center;
  }

  .intro .frame {
    --width: 1;
    --height: 1;
    border-radius: var(--rounded-corners);
  }

  .heading {
    margin-bottom: var(--space-l);
  }

  .intro .frame img {
    border-radius: var(--rounded-corners);
  }

  .paragraphs.flow {
    max-width: var(--paragraph-measure);
  }
</style>
