---
import { urlFor } from "../lib/sanity";
import getYouTubeID from "get-youtube-id";

// frame aspect ratio must be in the format x:y

function buildAspect(stringAspect) {
  const ratio = stringAspect.split(":");
  return ratio[0] / ratio[1];
}

const { title, mediaType, media, layout = "default" } = Astro.props;
// set the image height - relative to base width of 900
// Sanity data - if frame option is set and image has aspect ratio in "x:y" format,
// convert the aspect into a decimal and divide by it to get height
// if no aspect set, fall back to square aspect
// if no frame, set default aspect ratio of the image itself
// Math.floor - need valid integer for urlbuilder
let imageHeight = null;
if (media.image) {
  imageHeight = media.image.frame
    ? media.image.aspectRatio
      ? Math.floor(900 / buildAspect(media.image.aspectRatio))
      : 900
    : Math.floor(900 / media.image.asset.metadata.dimensions.aspectRatio);
}
// const imageHeight = image.frame
//   ? image.aspectRatio
//     ? Math.floor(900 / buildAspect(image.aspectRatio))
//     : 900
//   : Math.floor(900 / image.asset.metadata.dimensions.aspectRatio);
// let videoUrl = "";
// if (video) {
//   videoUrl = video;
// }
---

<section
  class="with-sidebar intro"
  data-layout={layout == "flipped" ? "flipped" : "default"}
>
  <div>
    {title && <h2 class="text-step-4 heading">{title}</h2>}
    <div class="paragraphs flow">
      <slot />
    </div>
  </div>
  {
    media.image ? (
      <div>
        <img
          src={urlFor(media.image)
            .width(900)
            .height(imageHeight)
            .auto("format")
            .url()}
          alt={media.image.asset.altText || ""}
          class="img"
          width={900}
          height={imageHeight}
          style={`background-image: url(${media.image.asset.metadata.lqip})`}
          loading="lazy"
          decoding="async"
        />
      </div>
    ) : media.video ? (
      <iframe
        width="560"
        height="315"
        src={`https://www.youtube.com/embed/${getYouTubeID(media.video.url)}`}
        title="YouTube video player"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      />
    ) : (
      <div />
    )
  }
</section>

<style>
  .intro.with-sidebar {
    --sidebar-gap: 5rem;
    --sidebar-min-width: 32rem;
    align-items: center;
  }

  [data-layout="flipped"] > :first-child {
    order: 2;
  }

  .img {
    border-radius: var(--rounded-corners);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  iframe {
    border: 0;
  }

  /* .intro .frame {
    aspect-ratio: var(--width, 1) / var(--height, 1);
    --width: 1;
    --height: 1; 
    border-radius: var(--rounded-corners);
  } */

  /* .intro .img {
    border-radius: var(--rounded-corners);
    inline-size: 100%;
    block-size: 100%;
  } */

  .heading {
    margin-bottom: var(--space-l);
  }
  /* 
  .intro .frame img {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
  } */

  .paragraphs.flow {
    max-width: var(--paragraph-measure);
  }

  @media (max-width: 1024px) {
    .intro.with-sidebar > :first-child {
      order: 2;
    }
  }

  @media (max-width: 768px) {
    .intro.with-sidebar {
      --sidebar-gap: 2rem;
    }
  }
</style>
