---
import { PortableText } from "astro-portabletext";
import { Image, Picture } from "@astrojs/image/components";

const aspectRatios = {
  square: "square",
  "4x3": "4x3",
  "7x5": "7x5",
};

// frame aspect ratio must be in the format x:y
function splitAspect(stringRatio) {
  return stringRatio.split(":");
}

const { title, image, layout = "default", frame } = Astro.props;
---

<section
  class="with-sidebar intro"
  data-layout={layout == "flipped" ? "flipped" : "default"}
>
  <div>
    {title && <h2 class="text-step-4 heading">{title}</h2>}
    <div class="paragraphs flow">
      <slot />
    </div>
  </div>
  <div
    class={frame && "frame"}
    style={frame &&
      `--width: ${splitAspect(frame)[0]}; --height: ${splitAspect(frame)[1]}`}
  >
    <Picture src={image} widths={[900, 1200]} sizes="100vw" alt="" />
  </div>
</section>

<style>
  .intro.with-sidebar {
    --sidebar-gap: 5rem;
    --sidebar-min-width: 32rem;
    align-items: center;
  }

  [data-layout="flipped"] > :first-child {
    order: 2;
  }

  .intro .frame {
    aspect-ratio: var(--width, 1) / var(--height, 1);
    /* --width: 1;
    --height: 1; */
    border-radius: var(--rounded-corners);
  }

  .heading {
    margin-bottom: var(--space-l);
  }

  .intro .frame img {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
  }

  .paragraphs.flow {
    max-width: var(--paragraph-measure);
  }

  @media (max-width: 1024px) {
    .intro.with-sidebar > :first-child {
      order: 2;
    }
  }

  @media (max-width: 768px) {
    .intro.with-sidebar {
      --sidebar-gap: 2rem;
    }
  }
</style>
