---
import SanityImage from "@components/SanityImage.astro";
import { type SanityImage as SanityImageType } from "@content/schemaFragments/sanityComponents";

interface Props {
    image?: SanityImageType | null;
    href: string;
    theme?: "light" | "dark";
}

const { href, image, theme = "light" } = Astro.props;
---

<a
    class="flex"
    href={href}
    style={`--hover-color:${theme == "dark" ? "var(--dark)" : "var(--light)"}`}
>
    <div class="frame square">
        {
            image && (
                <SanityImage
                    alt={image.asset.altText || ""}
                    aspectRatio={[1, 1]}
                    class:list={["image-scale-in"]}
                    source={image}
                    width={300}
                />
            )
        }
    </div>
    <div>
        <slot />
    </div>
</a>

<style>
    .flex {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        border-radius: var(--rounded-corners);
        padding: 0.5rem;
        margin: -0.5rem;
        background: transparent;
        text-decoration: none !important;
        transition: all 0.3s ease;
    }

    .flex:hover {
        --dark: hsla(217, 90%, 96%, 0.15);
        --light: var(--color-primary-100);
        background: var(--hover-color);
    }

    .flex:hover .frame img {
        transform: scale(1.05);
    }

    .frame {
        border-radius: var(--rounded-corners);
        max-width: 30%;
    }

    .img {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .frame img {
        transition: all 0.2s ease;
    }
</style>
