---
const { href, image, imageAlt } = Astro.props;
---

<a href={href} class="flex">
  <div class="frame square">
    <img src={image} alt={imageAlt} />
  </div>
  <div>
    <slot />
  </div>
</a>

<style>
  .flex {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    border-radius: var(--rounded-corners);
    padding: 0.5rem;
    background: transparent;
    border: 1px solid var(--color-primary-800);
    transition: all 0.3s ease;
  }

  .flex:hover {
    background: hsla(217, 90%, 96%, 0.15);
  }

  .frame {
    border-radius: var(--rounded-corners);
    max-width: 30%;
  }
</style>
