---
import { urlFor } from "../lib/sanity";
const { href, image, theme = "light" } = Astro.props;
---

<a
  href={href}
  class="flex"
  style={`--hover-color:${theme == "dark" ? "var(--dark)" : "var(--light)"}`}
>
  <div class="frame square">
    <img
      class="img"
      src={urlFor(image).width(300).height(300).auto("format").url()}
      alt={image.asset.altText || ""}
      width={300}
      height={300}
      style={`background-image: url(${image.asset.metadata.lqip})`}
      loading="lazy"
      decoding="async"
    />
  </div>
  <div>
    <slot />
  </div>
</a>

<style>
  .flex {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    border-radius: var(--rounded-corners);
    padding: 0.5rem;
    margin: -0.5rem;
    background: transparent;
    text-decoration: none !important;
    transition: all 0.3s ease;
  }

  .flex:hover {
    --dark: hsla(217, 90%, 96%, 0.15);
    --light: var(--color-primary-100);
    background: var(--hover-color);
  }

  .flex:hover .frame img {
    transform: scale(1.05);
  }

  .frame {
    border-radius: var(--rounded-corners);
    max-width: 30%;
  }

  .img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .frame img {
    transition: all 0.2s ease;
  }
</style>
