---
import Button from "./Button.astro";
const { relatedContent } = Astro.props;
const { heading, link } = relatedContent;
---

<section class="highlight-section">
  <div class="content-wrapper">
    <div slot="highlight" class="more flow">
      <h2 class="text-step-3">
        Explore Related {heading}
      </h2>
      <slot />
      <div class="center-items">
        <Button href={link}>
          See All {heading}
        </Button>
      </div>
    </div>
  </div>
</section>

<style>
  .highlight-section {
    padding-block: var(--space-3xl);
    background-color: var(--color-primary-50);
  }

  .highlight-section .content-wrapper {
    padding-block: 0;
  }

  .more {
    --flow-space: 2.5rem;
  }

  @media (max-width: 768px) {
    .highlight-section {
      padding-block: var(--space-xl);
    }

    .more {
      --flow-space: 2rem;
    }
  }
</style>
