---
import Layout from "./Layout.astro";
import BreadcrumbAuto from "../components/BreadcrumbAuto.astro";
import { urlFor } from "../lib/sanity";

const { title, name, breadcrumbs, preview, featuredImage } = Astro.props;
---

<Layout
  meta={{
    title: title,
    description: preview,
    openGraph: {
      title: title,
      description: preview,
      image: featuredImage,
    },
  }}
>
  <main slot="main">
    <article>
      <BreadcrumbAuto navigation={breadcrumbs} className="breadcrumb-wrapper" />
      <div class="content-wrapper">
        <div class="sidebar">
          <img
            src={urlFor(featuredImage)
              .width(900)
              .height(900 / 0.75)
              .auto("format")
              .url()}
            alt={name}
            class="image"
            width={900}
            height={900 / 0.75}
            style={`background-image: url(${featuredImage.asset.metadata.lqip})`}
          />
          <slot name="sidebar" />
        </div>
        <div class="main-panel">
          <section class="header flow">
            <div>
              <slot name="eyebrow">Eyebrow</slot>
              <h1 class="text-step-4">{name}</h1>
            </div>
          </section>
          <slot name="main-panel" />
        </div>
        <!-- <div class="sidebar">
          <slot name="sidebar" />
        </div> -->
      </div>
    </article>
  </main>
</Layout>

<style>
  .content-wrapper {
    padding-block: var(--space-3xl);
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 4rem;
  }

  .image {
    border-radius: var(--rounded-corners);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .header.flow {
    --flow-space: 2rem;
  }

  .highlight-section {
    padding-block: var(--space-3xl);
    background-color: var(--color-primary-50);
  }

  .breadcrumb-wrapper {
    position: relative;
    z-index: 10;
    padding-inline-start: var(--space-l);
    top: 1rem;
    width: fit-content;
  }

  @media (max-width: 768px) {
    .content-wrapper {
      grid-template-columns: 1fr;
      gap: 2rem;
    }

    .image {
      width: 70%;
    }
  }

  @media (max-width: 450px) {
    .image {
      width: 100%;
    }
  }
</style>
